body {
    margin: 0;
    font-family: Arial, "Khmer OS Battambang";
    background: #f2f2f2;
}

.header {
    background: #0b4f78;
    color: white;
    padding: 15px;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    margin-right: 15px;
}

.title h1 {
    margin: 0;
    font-size: 18px;
}

.title p {
    margin: 0;
    font-size: 13px;
}

.lang {
    display: flex;
    margin: 15px;
}

.lang button {
    flex: 1;
    padding: 10px;
    border: 1px solid #0b4f78;
    background: white;
    cursor: pointer;
}

.lang .active {
    background: #0b4f78;
    color: white;
}

.plate {
    text-align: center;
    color: #0b4f78;
}

.box {
    margin: 15px;
    border: 2px solid #0b4f78;
    background: white;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.row:last-child {
    border-bottom: none;
}

.row span:first-child {
    font-weight: bold;
}

.h5 {
    background-color: rgb(232, 197, 197);
    color: rgb(163, 66, 66);
    margin-top: 50px;
    border-top: 50px;
}